<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tick Tick</title>
    <link rel="shortcut icon" href="//cdn.dida365.com/static/img/favicon.ico">
    <!-- 引入Vue -->
    <script src="//v1.vuejs.org/js/vue.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="//unpkg.com/iview/dist/styles/iview.css">
    <!-- 引入组件库 -->
    <script src="//unpkg.com/iview@1.0.1/dist/iview.min.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app" v-cloak>
        <Spin fix v-if="spinShow"></Spin>
        <!-- 标题 -->
        <Row>
            <i-col span="24">
                <h1>
                    <Icon type="ios-book"></Icon> Tick Tick
                </h1>
            </i-col>
        </Row>
        <br>

        <!-- 表单 -->
        <Row style="padding-top: 30px">
            <i-col span="4" offset="2">
                <Time-picker confirm format="HH:mm" placeholder="TIME" style="width: 100%" :value.sync="newTime">
                </Time-picker>
            </i-col>
            <i-col span="12">
                <i-input placeholder="Enter something..." style="width: 100%" :value.sync="txt" @on-enter="addItem()">
                </i-input>
            </i-col>
            <i-col span="4">
                <i-button @click="addItem()">+ Add</i-button>
            </i-col>
        </Row>
        <br>

        <!-- 无内容 -->
        <Row v-if="isNull">
            <i-col span="17" offset="5">
                <p style="font-size: 14px;padding-top: 50px">
                    <Icon type="ios-paw"></Icon>
                    There is nothing in your Tick Tick
                </p>
            </i-col>
        </Row>
        <!-- 有内容 -->
        <article v-else style="height: 60%;overflow-y:scroll">
            <Row v-for="item in todolist" :key="item.item" style="padding-top:20px;font-size:14px" v-show="!item.isFinish || isShow">
                <i-col span="2" offset="4">
                    <Checkbox :checked="item.isFinish" @on-change="toggleFinish(item)"></Checkbox>
                </i-col>

                <i-col span="3" style="font-weight: 700">
                    {{showTime(item)}}
                </i-col>

                <i-col span="8">
                    <span v-if="!item.isEdit" :class="item.isFinish ? 'del' : ''">
                        {{item.item}}
                    </span>
                    <i-input v-else size="small" :placeholder="item.item" style="width: 90%" :value.sync="newValue"
                        @on-enter="updateItem(item)"></i-input>
                </i-col>

                <i-col span="6">
                    <i-button v-if="!item.isEdit" shape="circle" size="small" icon="md-create"
                        @click="item.isEdit = true">
                    </i-button>
                    <i-button v-else shape="circle" size="small" icon="md-checkmark" @click="updateItem(item)">
                    </i-button>
                    <i-button type="error" shape="circle" size="small" icon="md-close" @click="removeItem(item)">
                    </i-button>
                </i-col>
            </Row>
        </article>
        <br>

        <Row class="foot">
            <i-col span="10" offset="14" style="width: 200px;font-size: 14px">
                <Switch @on-change="toggle()"></Switch>
                {{tip}}
            </i-col>
        </Row>
    </div>
    <script src="main.js"></script>
</body>

</html>