.del {
    text-decoration: line-through;
}

#app {
    width: 372px;
    height: 662px;
    margin: 10px auto;
    position: relative;
    background: url(1.jfif) no-repeat;
    background-size: cover;
    color: #333;
}

h1 {
    font-size: 28px;
    text-align: center;
    height: 80px;
    padding-top: 50px;
}

.foot {
    height: 20px;
    line-height: 20px;
    position: absolute;
    bottom: 40px;
}

/* 隐藏滚动条 */
article::-webkit-scrollbar {
    display: none
}

.demo-spin-container {
    display: inline-block;
    width: 200px;
    height: 100px;
    position: relative;
    border: 1px solid #eee;
}

/* 防止页面闪烁 */
[v-cloak] {
    display: none;
}